
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/*.local

/.env.local
/.env.*.local

venv/
env/
ENV/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt


.vscode/



*.spec
build/
dist/

*.log
Quiz_master wired frame.png