celery==5.5.3
Flask==3.1.1
flask_caching==2.3.1
flask_cors==6.0.1
flask_jwt_extended==4.7.1
Flask_Login==0.6.3
flask_mail==0.10.0
Flask_Migrate==4.1.0
flask_restful==0.3.10
flask_sqlalchemy==3.1.1
PyJWT==2.10.1
PyYAML==6.0.2
redis==6.2.0
Werkzeug==3.1.3
langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
langchain-huggingface
langgraph
crewai